<%- include('header') %>

<div class="main ms-3">
    <div style="width: 800px;">
    <h1 class="mb-4"><%= article.Title %></h1>
        <div class="article-body">
            <%- contentHtml %>
        </div>
    </div>
</div>

<%- include('footer') %>
