<%- include('header') %>
<div class="ms-3" style="max-width: 400px;">
    <form id="reset-password-form" action="/reset-password/<%= validToken.token %>" method="POST">
        <div class="mb-3">
            <label for="new-password" class="form-label">New password</label>
            <input type="password" class="form-control" id="new-password" name="newPassword" required>
        </div>
        <div class="mb-3">
            <label for="new-password-again" class="form-label">New password again</label>
            <input type="password" class="form-control" id="new-password-again" name="confirmPassword" required>
        </div>
        <div id="password-error" class="alert alert-danger d-none" role="alert">
            Passwords do not match.
        </div>
        <button type="submit" class="btn btn-dark mt-3">Submit</button>
    </form>
</div>
<%- include('footer') %>
<script>
    document.getElementById('reset-password-form').addEventListener('submit', function(event) {
        const newPassword = document.getElementById('new-password').value;
        const confirmPassword = document.getElementById('new-password-again').value;
        if (newPassword !== confirmPassword) {
            event.preventDefault();
            document.getElementById('password-error').classList.remove('d-none');
        }
    });
</script>
