<%- include('header') %>

<div class="main">
    <h1>Contact Us</h1>
    <p>If you need to get in touch with us, feel free to send an email to the admin.</p>
    <div class="contact-info">
        <p><strong>Admin Email:</strong> johnmcafee@bme.hu</p>
    </div>
</div>

<%- include('footer') %>
